.sticker {
  flex-grow: 2;
  width: 200px;
  max-width: 50%;
  background-color: orange;
  border-radius: 10px;
  padding: 20px 20px 40px;

  &:hover {
    transform: rotateY(180deg);
  }

  .stickerFront,
  .stickerBack {
    backface-visibility: hidden;
  }
}

.stickerHeader {
  display: flex;
  justify-content: space-between;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
